header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0 ;
}
nav li {
	display: inline;
	margin:0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

/*aqui é para capturar e realizar interacao/movimento
apartir de movimentos do mouse na pagina*/
nav a:hover {
	/*trocar cor ao passar o mouse*/
	color: #C78C19;
	/*para ficar sublinha quando o mouse estiver em sima*/
	text-decoration: underline;
}

main {
	width: 940px;
	margin: 0 auto;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	/* usamos apenas para testar a lagura
	e a margem que esta sendo utilizado
	 background: #CCCCCC;*/
	margin: 0 1.5%;
	padding: 30px 20px;
	/* para a margem ficar 
	contabilizada dentro do espaçamento usamos este 
	aqui*/
	box-sizing: border-box;

	/*para borda das imagens*/
	/*border-color: #000000;
	border-width: 2px;
	border-style: solid;
	*/

	/*declaracao unicifcada das bordas*/
	border: 2px solid #000000;

    /*para arredondar as bordas das caixas das imagens. poderia ter 
    alem de um so px, ter o top, baixo, esquerdo e direito*/
    border-radius: 10px;

}

/*aqui é para capturar e realizar interacao/movimento
apartir de movimentos do mouse na pagina*/
.produtos li:hover {
	/*trocar cor ao passar o mouse na borda*/
	border-color: #C78C19;	
}

/*quando clicar com o mouse na borda*/
.produtos li:active {
	/*trocar cor*/
	border-color: #088C19;	
}

/*aqui é para capturar e realizar interacao/movimento
apartir de movimentos do mouse na pagina nas tags H2*/
.produtos li:hover h2 {
	/*trocar fonte ao passar o mouse*/
	font-size: 34px;	
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}

footer{
	text-align: center;
	/* se fosse para cor seria :background: #CCCCCC;*/

	/*ao utilizar imagem no CSS ele replica ela
	ate ocupar todo o elemento, economia para guardar ela*/
	background: url("bg.jpg");

	/*espacamento interno para espaçar mais entre as 
	bordas do site, termos um "respiro". 40 para cima e 
	baixo, e 0 para os lados*/
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;

} 
