@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>@ViewData["Professor"]</p>

<address>
	<strong> More Information: </strong> <a href=https://www.google.com.br>Goolge</a>
</address>

